<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Output</title>
    <style>
         .container {
            max-width: 60%;
            margin: auto;
            padding:2%;
            margin-top: 20px;
            border: 3px solid black;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
    <span style="font-size: 5cm">&#9786;</span>
    <h1>Output is: {{output}}</h1>
    <br>
    <button type="button" class="btn btn-primary btn-lg">
        <li><a href="back" style="color:aliceblue">BACK</a></li>
    </button>
    </div>
</body>
</html>